# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


build/
!**/src/main/**/build/
!**/src/test/**/build/

.env

# Logs
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

docker/mysql/data/